<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">grow your business with Us</p>
            <div class="row">
                <div class="col-md-6 col-12 hero-text">
                    <figure>
                        {{!-- height="300px" , width="305px --}}
                        {{!-- height="300px" width="400px --}}
                        <img src="images/png2.png" alt="whitesimage" height="330px" width="560px">
                    </figure>
                </div>

                {{!-- right side --}}
                <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                    <h1>WE ARE THE PROFESSIONAL DEVELOPER</h1>
                    <P>We are the the team and the captain <span class="bold-style">Mahesh </span> Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Blanditiis hic consequatur itaque. Odio
                        sint debitis sunt consequatur provident corporis itaque distinctio, culpa totam
                        perferendis officia ipsam architecto, neque mollitia autem.</p>

                    <button class="btn-style btn-primary">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- about us end --}}